body{
  background-color: #565d47;
}

table {
  width: 100%;
  border: 1px;
  border-collapse:collapse;
}

td {
  padding: 5px;
}

td.field {
  width: 30%;
  padding: 10px;
  text-align: right;
  font-weight: bold;
  background-color: #b49c73;
  border-bottom: solid 3px #b49c73;
}

td.data {
  padding: 10px;
  background-color: #eaac9d;
  border-bottom: solid 1px #b49c73

}
td.data2{
  background-color: #eaac9d;
}

th.cell1 {
  background-color: #b49c73;
  border-right: 1px solid #eaac9d;
  padding: 5px;
}
th.cell2 {
  background-color: #b49c73;
  padding: 5px;
}

.container {
  width: 90%;
  margin: auto;
}

.row {
  width: 100%;
  display: flex;
}

.col3 {
  flex: 25%;
  float: left;
  margin: 3px;
  padding: 3px;
}

.col4 {
  flex: 33%;
  float: left;
  margin: 3px;
  padding: 3px;
}

.col6 {
  flex: 50%;
  float: left;
  margin: 3px;
  padding: 3px;
}

.col8 {
  flex: 66%;
  float: left;
  margin: 3px;
  padding: 3px;
}

.col9 {
  flex: 75%;
  float: left;
  margin: 3px;
  padding: 3px;
}

.text-center {
  text-align: center;
  background-color: #b49c73;
  border-right: 1px solid #99b898;
}

.text-right {
  text-align: right;
}
